# Backend API URL
VITE_API_URL=http://localhost:3000/api

# Backend Socket.IO URL
VITE_SOCKET_URL=http://localhost:3000

# Cloudinary (Optional media upload credentials)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
